/* Register.css */

.form-bd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .text {
    text-align: center;
  }
  
  .registration-success {
    text-align: center;
    color: green;
    margin-top: 10px;
  }
  